@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

body {
	font-family: "Product Sans";
	overflow: hidden;
}

*:focus {
    outline: 0 !important;
}

.padding {
	margin: 10px;
}

.mode {
	position: fixed;
	bottom: 0;
	margin: 2rem;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid black;
	padding: 1.5rem;
	line-height: 1rem;
	font-size: 2rem;
}

.upper, .lower {
	margin: 1rem;
}

.header {
	margin: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tiles {
	border-radius: 15px;
	border: 1px solid black;
	padding: 1rem;
}

.footer-data {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark-theme {
	background-color: #212121;
	color: #ffffff;
}

.color {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.margin-right {
	margin-right: 2rem;
}

.img-responsive {
	width: 100%;
	height: 400px;
}

.description {
	display: flex;
	align-items: center;
}

.date-white {
	background-color: #212121;
	color: #ffffff;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.date-dark {
	background-color: #ffffff;
	color: #212121;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-data h4 {
	line-height: 2.5rem;
}

.blue {
	background-color: #33c3ff;
}

.red {
	background-color: #ff3900;
}

.yellow {
	background-color: #ffc600;
}